@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
  font-size: 20px;
  font-family: "Roboto";
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #E87281;
  background: -moz-linear-gradient(top, #E87281 0%, #FFBD00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E87281), color-stop(100%, #FFBD00));
  background: -webkit-linear-gradient(top, #E87281 0%, #FFBD00 100%);
}

a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}
a:hover {
  color: pink;
}

footer {
  font-size: 30%;
}

#displayID, #workClockID, #pomodoro {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#controls, #work, #break, #container {
  width: 100%;
}

#pomodoro {
  height: 100%;
  width: 100%;
}

#title {
  font-size: 500%;
}

#controls {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#work, #break {
  text-align: center;
  margin: 1% auto;
}

#controlStart {
  width: 50%;
  text-align: right;
  margin-right: 10%;
}

#controlStop {
  width: 50%;
  text-align: left;
}

#workClockID {
  font-size: 600%;
}

.button {
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  padding: 1.4%;
}

.period {
  padding-bottom: 1%;
}

#displayID {
  font-size: 130%;
}
