@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* line 31, ../sass/style.sass */
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100VH;
  width: 100%;
  font-family: "Poiret One";
}

/* line 39, ../sass/style.sass */
.new {
  height: 100%;
  width: 100%;
  background: white;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* line 47, ../sass/style.sass */
.container-fluid {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 30%;
  height: 90%;
  color: black;
  background: #CCCCCC;
  margin-top: 2%;
  padding-top: 2%;
}

/* line 56, ../sass/style.sass */
.hot {
  background-color: #D53F1A;
}

/* line 59, ../sass/style.sass */
.warm {
  background-color: #FFC600;
}

/* line 62, ../sass/style.sass */
.cold {
  background-color: #52AEC7;
}

/* line 70, ../sass/style.sass */
#cfToggle {
  font-family: "Poiret One";
  background: none;
  border: none;
  font-size: 500%;
}
/* line 75, ../sass/style.sass */
#cfToggle:hover {
  color: orange;
}

/* line 78, ../sass/style.sass */
#stats {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-direction: row;
  width: 80%;
  padding: 3%;
  border-bottom: 1px solid;
}

/* line 86, ../sass/style.sass */
#day, #myLocation {
  text-align: center;
  font-size: 300%;
}

/* line 90, ../sass/style.sass */
#icon, #iconArea {
  width: 100%;
  height: 50%;
  text-decoration: underline;
}

/* line 95, ../sass/style.sass */
#windHumidity, #tempArea {
  width: 50%;
  align-content: center;
}

/* line 99, ../sass/style.sass */
#windSpeed, #humidity, .center {
  text-align: center;
  padding: 1%;
}

/* line 103, ../sass/style.sass */
#myLocation {
  align-self: flex-end;
  padding: 6% 0%;
  width: 100%;
}

/* line 108, ../sass/style.sass */
#day {
  border-bottom: 1px solid;
  padding-bottom: 2%;
  width: 80%;
}
